<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>칼빈대학교 평생교육원</title>
</head>
<body>
<div class="lnb_warp" th:fragment="left_sidebar">
    <!--왼쪽메뉴-->
    <h2>교육원</h2>
    <div class="lnb">
        <ul>
            <li>
                <a th:if="${page_type == '6.1'}" href="/menu/special/list?type=교육원&field=요양보호사교육원" class='lnb_on'>요양보호사교육원</a>
                <a th:unless="${page_type == '6.1'}" href="/menu/special/list?type=교육원&field=요양보호사교육원">요양보호사교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.2'}" href="/menu/special/list?type=교육원&field=미래금융교육원" class='lnb_on'>미래금융교육원</a>
                <a th:unless="${page_type == '6.2'}" href="/menu/special/list?type=교육원&field=미래금융교육원">미래금융교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.3'}" href="/menu/special/list?type=교육원&field=미래교육교육원" class='lnb_on'>미래교육교육원</a>
                <a th:unless="${page_type == '6.3'}" href="/menu/special/list?type=교육원&field=미래교육교육원">미래교육교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.4'}" href="/menu/special/list?type=교육원&field=드론전문교육원" class='lnb_on'>드론전문교육원</a>
                <a th:unless="${page_type == '6.4'}" href="/menu/special/list?type=교육원&field=드론전문교육원">드론전문교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.5'}" href="/menu/special/list?type=교육원&field=장례지도사교육원" class='lnb_on'>장례지도사교육원</a>
                <a th:unless="${page_type == '6.5'}" href="/menu/special/list?type=교육원&field=장례지도사교육원">장례지도사교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.6'}" href="/menu/special/list?type=교육원&field=장로권사교육원" class='lnb_on'>장로권사교육원</a>
                <a th:unless="${page_type == '6.6'}" href="/menu/special/list?type=교육원&field=장로권사교육원">장로권사교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.7'}" href="/menu/special/list?type=교육원&field=미래목회연구원" class='lnb_on'>미래목회연구원</a>
                <a th:unless="${page_type == '6.7'}" href="/menu/special/list?type=교육원&field=미래목회연구원">미래목회연구원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.8'}" href="/menu/special/list?type=교육원&field=ESG경영연구원" class='lnb_on'>ESG경영연구원</a>
                <a th:unless="${page_type == '6.8'}" href="/menu/special/list?type=교육원&field=ESG경영연구원">ESG경영연구원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.9'}" href="/menu/special/list?type=교육원&field=사모교육원" class='lnb_on'>사모교육원</a>
                <a th:unless="${page_type == '6.9'}" href="/menu/special/list?type=교육원&field=사모교육원">사모교육원</a>
            </li>
            <li>
                <a th:if="${page_type == '6.10'}" href="/menu/special/list?type=교육원&field=여교역자교육원" class='lnb_on'>여교역자교육원</a>
                <a th:unless="${page_type == '6.10'}" href="/menu/special/list?type=교육원&field=여교역자교육원">여교역자교육원</a>
            </li>
        </ul>
    </div>

    <div class="left_con pb50">
        <h3>수강신청</h3>
        <div class="pl10">
            <span><a href="">일반교양과정</a></span>
            <span><a href="/menu/liberal_arts/list">특별교육과정</a></span>
            <span><a href="/menu/subject/list">학점은행제 </a></span>
        </div>
        </ul>
    </div>

    <!--//왼쪽메뉴 끝-->
</div>

</body>
</html>